body {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  line-height: 1.8rem;
}
.container {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 8rem;
}
.header {
  list-style: none; /* Remove bullet points from the list */
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.header li {
  display: inline-block; /* Display list items horizontally */
  margin-left: 20px; /* Add some spacing between list items */
}
.header li a {
  color: inherit;
  text-decoration: none;
}

/* Home page (about the developer) */
.dev_introduction {
  color: rgb(59, 59, 59);
}
.dev_introduction .nested_dev_introduction {
  font-weight: bolder;
}
.dev_contact_info {
  display: flex;
  align-items: center;
}
.personal_image {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  filter: drop-shadow(1px 1px 4px black) invert(0%);
  border-radius: 50%;
}

.social_media {
  list-style: none; /* Remove bullet points from the list */
  line-height: 2rem;
  color: grey;
}

.social_media a {
  color: inherit;
  text-decoration: none;
}

/* blog page */
.blog_wrapper {
  margin-top: 4rem;
}
.post_container {
  line-height: 1rem;
  margin-top: 2rem;
}
.blog_title {
}
.blog_title a {
  color: inherit;
  text-decoration: none;
}
.blog_date {
  color: grey;
  font-size: 0.8rem;
}

/* post page */
.post_date {
  color: grey;
}
